body{
    overflow: hidden;
}
.img{
    box-sizing: border-box;
    width: 27vw;  
    padding: 0%;
    border: solid black 0.2vw;
    margin: 30vh auto
    
}
.img img{
    width: 26.7vw;
    height: 40vh;
    display: block
}
button{
    border: none;
    width: 26.7vw;
    height: 11vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 3vw;
    text-decoration: none;
    color: white;
    padding: 1px;
    background-image: linear-gradient(to right, red , yellow);
    cursor: pointer;    
}    
/* .button{
    padding: 15px 190px;
    border: none
    height: ;
    background-image: linear-gradient(to right, red , yellow);
    text-align: center
} */